body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: "Poppins", sans-serif;
  }
  #form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
  }
  #form h1 {
    color: darkslategrey;
    text-align: center;
  }
  
  #form button {
    color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    background-color: #0000ff;
    border: none;
    border-radius: 0.4rem;
    
    
  }
  
  .input-control {
    display: flex;
    flex-direction: column;
  }
  
  .input-control input {
    border: 2px white;
    border-radius: 0.4rem;
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    width: 100%;
  }
  
  .input-contol input:focus {
    outline: 0;
  }
  .input-contol.success input {
    border-color: blue;
  }
  
  .input-contol.error input {
    border-color: gold;
  }
  .input-control.error {
    color: red;
    font-size: 0.9rem;
    height: 1.3rem;
  }

  #newAvatarImg {
    max-width: 8%;
  max-height: 8%;
  border-radius: 50%;
  position: absolute;
    top: 15rem;
    left: 16rem;
    cursor: pointer;
    box-shadow: 0 0.2rem #2c5364;
}

#newAvatarImg:hover {
  background-color: blue;
}

#newAvatarImg:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(0.4rem);
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

#avatarSelectorBtn {
position:absolute; 
top: 19rem;
left: 16rem;
}